language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"  # 3.8 development branch

# command to install dependencies
install:
  - pip install .
# command to run tests
script:
- make test
