language: python
python:
  #  - "3.3" - Removed, travis CI don`t support this version actually
  #  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"

# command to install dependencies
install:
  - pip install -r requirements_dev.txt
# command to run tests
script:
  - make test
